<launch>
  <arg name="viz" default="false" />

  <node pkg="mimosa" type="mimosa_node" name="mimosa_node" output="screen" clear_params="true"> # launch-prefix="gdb -ex run --args">
    <remap from="/mimosa_node/imu/manager/imu_in" to="/vectornav_driver_node/imu/data" />
    <remap from="/mimosa_node/lidar/manager/lidar_in" to="/ouster/points" />
    <remap from="/mimosa_node/radar/manager/radar_in" to="/radar/cloud" />

    <rosparam file="$(find mimosa)/config/hornbill/params.yaml"/>
    <rosparam file="$(find mimosa)/config/hornbill/os_hornbill.json" command="load" ns="lidar/sensor"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mimosa)/rviz/mimosa.rviz" if="$(arg viz)" />

</launch>
